---
import { getCollection } from "astro:content";
import Footer from "../../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

const collection = await getCollection("posts");
const posts = collection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((post) => post.data.draft !== true);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="flex flex-1 flex-col">
    <ul class="flex flex-col gap-1.5">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/posts/${post.slug}`}
              class="group flex flex-col justify-between gap-1 pb-3"
            >
              <div class="flex flex-row items-center justify-between">
                <div class="font-serif text-lg group-hover:underline">
                  {post.data.title}
                </div>
                <span class="text-nowrap text-zinc-500">
                  {formatDate(post.data.date)}
                </span>
              </div>
              <div class="text-neutral-400">{post.data.description}</div>
            </a>
          </li>
        ))
      }
    </ul>
    <div class="h-100% flex-1"></div>
    <Footer />
  </main>
</Layout>
